[Unit]
Description=tarsnap backup
Wants=tarsnap.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 %h/bin/tarsnap_update %h/Documents/Vault --delay 600 --buffer 120
